{% extends "base.html" %}

{% block title %}
    The first essay, for the fifth time
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content %}
<div class="title-container">
    <h1 class="title">The first essay, for the fifth time</h1>
    <div class="metadata">
        <p class="name">Shalin Ahasan</p>
        <p class="date">Wed, Jan 1, 2025</p>
        <p class="share">Share</p>
    </div>
</div>
<div class="text-container">
    <p>At uni, I picked up a lot of new skills, both technical and social. But one thing I didn’t get good at was writing. It’s something that’s bothered me ever since. I’ve tried to start writing for fun on multiple occasions, but I never end up sticking with it. Every time, I think, "this is it, I’m serious this time." Then, three months later, I’m back at square one, thinking, “I wish I had stayed consistent. Let me start again.” And so, the cycle continues.</p>
    <p>This is the <span class="italic">first essay, for the fifth time</span>—a reflection of my tendency to restart, to try again, to promise that this time will be different. I’ve told friends countless times that I’m finally going to stick with it, kind of like how we all say “this time I’ll stick to a diet,” or “this time I won’t cram all my revision into the final night before the exam.” And yeah, I know how it sounds. I wouldn’t blame you for thinking I’m just spewing the same old talk. But this time is different. Or at least, it feels that way.</p>
    <p>Throughout 2025, I’m going to write blog posts consistently. No set goals for quantity or frequency—just a promise to stay committed. I know my enthusiasm for writing will probably ebb and flow. Maybe there’ll be weeks with four posts, followed by a month with just one. I hope that doesn’t happen, but it might.</p>
    <p>’ll be posting these blogs on this website I built from scratch (yes, I’m proud of that). I might share them on other platforms or even add a newsletter feature down the road. Honestly, I’m not sure where this will take me, but I’ve got tons of ideas, and I’m really excited to get started.</p>
    <p>Here’s the promise I’m making to you, the reader: every so often, a new post will show up on this site. At worst, I’ll try to make them mildly interesting. At best, I hope you’ll want to share them with others. The topics? Anything that catches my interest—from current world events to tech discussions, personal stories, or anything else I feel like exploring.</p>
    <p>And here’s my promise to myself: I’m going to stick with this, even when it’s tough. It’s not always easy to keep pushing forward when things get hard or the excitement fades. But I’m going to keep going, because I know that the most rewarding things are often the hardest to achieve. And so, I’m going to do hard things.</p>
</div>
{% endblock %}

{% block scripts %}
    <script src="/static/main.js"></script>
{% endblock %}
