<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}">
    <link rel="icon" sizes="512x512" href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <title>Start playing squash by Shalin Ahasan</title>
</head>
<body>
    <div class="header">
        <h2><span class="home">Blog</span><span class="portfolio">Shalin</span></h2>
        <div class="navigation">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
        
    </div>

    <div class="essay">
        <div class="title-container">
            <h1 class="title">Start playing squash</h1>
            <div class="metadata">
                <p class="name">Shalin Ahasan</p>
                <p class="date">Mon, Dec 30, 2024</p>
                <p class="share">Share</p>
            </div>
        </div>
        <div class="text-container">
            <p>For the past 7 years, I lived close to one of my friends. We both moved 2000 miles from the same city to the same city (18 months apart), and for a long time, he was my only friend in the new place. We’ve watched every major football match together (except the 2022 World Cup final, sigh). We’ve played thousands of games of Fifa against each other (starting from PES 06). We’ve shared many dozen a meal at his father’s restaurant. Somewhere along the line, he became my closest friend.</p>
            <p>In May this year, I moved away. Far enough that I couldn't see him whenever I wanted, but close enough that I could see him if I really, really made the effort. And surprise suprise, I didn’t make the effort. “We’ll catch the next game together soon.” “We’ll go to this restaurant together soon.” “We’ll do this <span class="italic">soon</span>.” “We’ll do that <span class="italic">soon</span>.” Everything would happen soon, but nothing was actually happening.</p>
            <p>The Euros happened over the summer, and unlike previous years (where we’d watch many games a week together), we only watched two or three games together. He got a new job in July, and life got even more busier for him. The amalgam of me moving away and him getting a new job meant that we rarely saw each other. As life gets busy, people start drifting apart.</p>
            <p>It was sometime in September that I randomly suggested that we play squash together. Neither of us had ever played squash, or known anyone who plays it. I played other sports regularly, he did not. A couple of back and forths later, I paid £10 for a pair of used squash rackets from Facebook Marketplace, and he for some beginner squash balls, and there it began. The best thing I did in 2024 began. Although I had significantly more experience playing other racket sports, he was a quick learner and the games were competitive. We both enjoyed it a lot. And since then, we’ve played a game of squash every week. We made the effort. Sometimes we watch a game of football after it. Sometimes we play Fifa after it. Sometimes we have a meal from his father’s restaurant after it. It wasn’t really about squash. It was about finding a reason to carve out time, a weekly ritual that made sure our friendship didn’t fade into ‘soon.’</p>
            <p>As life gets busy, don’t let people drift apart. You say you’re gonna see someone soon. You’ll grab a pint soon. You’ll go bowling soon. You’ll go on holiday soon. Everything will happen soon, but nothing is actually happening.</p>
            <figure>
                <img src="/sentence.png" alt="Description of the image">
                <figcaption>Your caption goes here</figcaption>
            </figure>
            <p>If there’s one thing I’ve learned in 2024, it’s this: don’t wait for ‘soon.’ Make the effort. Start playing squash with your best friend.</p>
        </div>
        <div class="footnotes">
            <p class="title">Footnotes
                <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.211 7.15505C10.07 7.04705 9.911 6.99805 9.755 6.99805C9.366 6.99805 9 7.30405 9 7.74705V16.248C9 16.693 9.367 16.998 9.755 16.998C9.912 16.998 10.071 16.948 10.212 16.839C11.766 15.636 14.411 13.587 15.71 12.581C15.894 12.439 16 12.221 16 11.989C16 11.759 15.893 11.54 15.709 11.398C14.41 10.396 11.764 8.35405 10.211 7.15505Z" fill="black"/>
                </svg></span>
            </p>
            <div class="list">
                <p>1. This is an example of a footnote.</p>
                <p>1. If there’s one thing I’ve learned in 2024, it’s this: don’t wait for ‘soon.’ Make the effort. Start playing squash with your best friend.</p>
            </div>
        </div>
        <div class="secondary-divider">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="authors-note">
            <p>This is an example of an author's note.</p>
            <p>If there’s one thing I’ve learned in 2024, it’s this: don’t wait for ‘soon.’ Make the effort. Start playing squash with your best friend.</p>
        </div>
        <div class="primary-divider"></div>
    </div>

    <script src="/static/main.js"></script>
</body>
</html>